@page "/Restaurants/Display/{Id:int}"
@inject IHttpClientFactory _clientFactory
@inject NavigationManager navigationManager

@if (string.IsNullOrWhiteSpace(errorString) == false)
{
    <h4>System error</h4>
    <p>@errorString </p>
}
else if (DisplayModel.Restaurant is null)
{
    <h4>Loading...</h4>
}
else
{
    <div class="row">
        <div class="col-lg-6 col-md-6 mx-auto">
            <h3 class="text-center">@DisplayModel.Restaurant.RestName</h3>
            <table class="table">
                <tbody>
                    <tr>
                        <td><strong>Category of restaurant</strong></td>
                        <td>@DisplayModel.ItemPurchased</td>
                    </tr>
                    <tr>
                        <td><strong>City</strong></td>
                        <td>@DisplayModel.Restaurant.City</td>
                    </tr>
                    <tr>
                        <td><strong>Description</strong></td>
                        <td>@DisplayModel.Restaurant.RestDescription</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            @if (confirmDelete == false)
                            {
                                <button class="btn btn-danger" @onclick="(() => confirmDelete = true)">
                                    Delete Restaurant
                                </button>

                            }
                            else
                            {
                                <button class="btn btn-outline-danger" @onclick="HandleDeleteRecord">
                                    Confirm Delete
                                </button>
                                <button class="btn btn-outline-secondary" @onclick="(() => confirmDelete = false)">
                                    Cancel
                                </button>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="h3 text-center">
                Update information about @DisplayModel.Restaurant.RestName
            </div>
            <EditForm Model="@UpdateModel" OnValidSubmit="@HandleValidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary Model="@UpdateModel" />
                <div class="form-group">
                    <label class="control-label">Name</label>
                    <InputText @bind-Value="UpdateModel.RestName" class="form-control" />
                    <ValidationMessage For="@(() => UpdateModel.RestName)" class="text-danger" />
                </div>
                <div class="form-group">
                    <label class="control-label">Description</label>
                    <InputText @bind-Value="UpdateModel.RestDescription" class="form-control" />
                    <ValidationMessage For="@(() => UpdateModel.RestDescription)" class="text-danger" />
                </div>
                <div class="form-group">
                    <label class="control-label">City</label>
                    <InputText @bind-Value="UpdateModel.City" class="form-control" />
                    <ValidationMessage For="@(() => UpdateModel.City)" class="text-danger" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Update Restaurant" class="btn btn-primary" />
                </div>
            </EditForm>
        </div>
    </div>
}

@code
{
    [Parameter]
    public int Id { get; set; }

    private DisplayRestaurantViewModel DisplayModel = new DisplayRestaurantViewModel();
    private UpdateRestaurantViewModel UpdateModel = new UpdateRestaurantViewModel();
    private string errorString;
    private bool confirmDelete = false;

    protected override async Task OnInitializedAsync()
    {
        var client = _clientFactory.CreateClient("API");

        var restaurant = await client.GetAsync($"api/restaurants/{Id}");

        try
        {
            DisplayModel = await restaurant.Content.ReadFromJsonAsync<DisplayRestaurantViewModel>();
            UpdateModel.Id = DisplayModel.Restaurant.Id;
            UpdateModel.RestName = DisplayModel.Restaurant.RestName;
            UpdateModel.RestDescription = DisplayModel.Restaurant.RestDescription;
            UpdateModel.City = DisplayModel.Restaurant.City;
        }
        catch (Exception ex)
        {

            errorString = ex.Message;
        }
    }
    private async Task HandleValidSubmit()
    {
        try
        {
            var client = _clientFactory.CreateClient("API");

            var restaurant = await client.PutAsJsonAsync("api/restaurants", UpdateModel);

            DisplayModel.Restaurant.RestName = UpdateModel.RestName;
            DisplayModel.Restaurant.RestDescription = UpdateModel.RestDescription;
            DisplayModel.Restaurant.City = UpdateModel.City;

        }
        catch (Exception ex)
        {

            errorString = ex.Message;
        }
    }
    private async Task HandleDeleteRecord()
    {

        var client = _clientFactory.CreateClient("API");

        var restaurant = await client.DeleteAsync($"api/restaurants/{Id}");

        if (restaurant.IsSuccessStatusCode)
        {
            navigationManager.NavigateTo("restaurants/list");
        }
        else
        {
            errorString = restaurant.ReasonPhrase;
        }
    }
}