@model MVCOrderingSystemApp.Models.Restaurants.DisplayRestaurantViewModel
@{
    ViewData["Title"] = "Display";
}

@if (Model.Restaurant is null)
{
    <h4>The requested record was not found!</h4>
}
else
{
    <div class="row">
        <div class="col-lg-6 col-md-6 mx-auto">
            <h3 class="text-center">@Model.Restaurant.RestName</h3>
            <table class="table">
                <tbody>
                    <tr>
                        <td><strong>Category</strong></td>
                        <td>@Model.ItemPurchased</td>
                    </tr>
                    <tr>
                        <td><strong>City</strong></td>
                        <td>@Model.Restaurant.City</td>
                    </tr>
                    <tr>
                        <td><strong>Description</strong></td>
                        <td>@Model.Restaurant.RestDescription</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <a asp-action="Delete" asp-route-id="@Model.Restaurant.Id" class="btn btn-danger">Delete Restaurant</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <form asp-action="Update" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input name="id" value="@Model.Restaurant.Id" type="hidden" />

                <div class="form-group">
                    <div>
                        <label class="col-form-label">Name</label>
                        <input name="restName" value="@Model.Restaurant.RestName" class="form-control" />
                    </div>
                    <div>
                        <label class="col-form-label">City</label>
                        <input name="city" value="@Model.Restaurant.City" class="form-control" />
                    </div>
                    <div>
                        <label class="col-form-label">Description</label>
                        <input name="restDesc" value="@Model.Restaurant.RestDescription" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update Restaurant" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
}