@model BookingApp.ViewModels.StaysViewModel
@{
    ViewBag.Title = "CreateStay";
}

<h2>Smeštaj</h2>

@using (Html.BeginForm("CreateStay", "Stays"))
{
    <div class="form-group">
        @Html.LabelFor(s => s.Stays.StayName)
        @Html.TextBoxFor(s => s.Stays.StayName, new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.Stays.StayName)
    </div>

    <div class="form-group">
        @Html.LabelFor(s => s.Stays.Address)
        @Html.TextBoxFor(s => s.Stays.Address, new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.Stays.Address)
    </div>

    <div class="form-group">
        @Html.LabelFor(s => s.Stays.Price)
        @Html.TextBoxFor(s => s.Stays.Price, new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.Stays.Price)
    </div>

    <div class="form-group">
        @Html.Label("City")
        @Html.DropDownListFor(s => s.Stays.CityId, new SelectList(Model.Cities, "Id", "CityName"), "--Izaberite grad--", new { @class = "form-control", id = "CityId" })
        @Html.ValidationMessageFor(s => s.Stays.CityId)
    </div>

    <div class="form-group">
        @Html.Label("Drzava")
        <select id="country" name="Country" class="form-control" disabled="disabled"></select>
    </div>

    <div class="form-group">
        @Html.Label("Tip smestaja")
        @Html.DropDownListFor(s => s.Stays.PropertyTypeId, new SelectList(Model.PropertyTypes, "Id", "TypeName"), "--Izaberite tip smestaja--", new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.Stays.PropertyTypeId)
    </div>

    <div class="form-group">
        @Html.LabelFor(s => s.Stays.Description)
        @Html.TextAreaFor(s => s.Stays.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.Stays.Description)
    </div>

    @Html.HiddenFor(s => s.Stays.Id)
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3">
            <div class="form-actions no-color">
                <input type="submit" class="btn btn-primary" value="Sačuvaj" />
             </div>
        </div>

        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3">
            <div class="form-actions no-color">
                @Html.ActionLink("Odustani", "Index", "Consumers", new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
    }
    @section scripts
{
        @Scripts.Render("~/bundles/jqueryval")
        <script src="~/Scripts/jquery-2.2.4.min.js"></script>
        <script type="text/javascript">
            $(function () {
                $('#CityId').change(function () {
                    $.getJSON('/Stays/CountryList/' + $('#CityId').val(), function (data) {
                        var items;
                        $.each(data, function (i, country) {
                            items += "<option value='" + country.Value + "'>" + country.Text + "</option>";
                        });
                        $('#country').html(items);
                    });
                });
            });
        </script>
    }
