@model IEnumerable<BookingApp.Models.Stay>
@{
    ViewBag.Title = "Index";
}

<center><h2>Lista objekata za izdavanje</h2></center>

<div class="row">
    <div class="col-lg-2">
        <div class="form-group">
                @Html.ActionLink("Dodaj smestaj", "CreateStay", "", new { @class = "btn btn-primary" })
        </div>
    </div>
</div>

<table id="stays" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Naziv</th>
            <th>Tip smestaja</th>
            <th>Grad</th>
            <th>Cena</th>
            <th class="col-lg-1"></th>
            <th class="col-lg-1"></th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var stays in Model)

        {<tr>
            <td>
                @Html.ActionLink(stays.StayName, "StaysInfo", new { id = stays.Id })
            </td>
            <td>
                @stays.PropertyType.TypeName
            </td>
            <td>
                @stays.Price
            </td>
            <td class="col-lg-2">
                @Html.ActionLink("Edit", "Edit", new { id = stays.Id }, new { @class = "btn btn-success" })
                <button data-stay-id="@stays.Id" class="btn btn-danger js-delete">Delete</button>
            </td>
        </tr>}*@

    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#stays").DataTable({
                ajax: {
                    url: "/api/stays",
                    dataSrc: ""
                },
                columns: [
                    {
                        columns: "StayName",
                        render: function (data, type, stay) {
                            return "<a href='/stays/StaysInfo/" + stay.Id + "'>" + stay.StayName + "</a>";
                        }
                    },
                    {
                        data:"PropertyType.TypeName"
                    },
                    {
                        data: "City.CityName"
                    },
                    {
                        data: "Price",
                        render: function (data, type, stay) {
                            return stay.Price;
                        }
                    },
                    {
                        columns: "Id",
                        render: function (data, type, stay) {
                            return "<a href='/stays/Edit/" + stay.Id + "'>" + "<button class='btn btn-success'>Izmeni</button>" + "</a>";
                        }
                    },
                    {
                        data: "Id",
                        render: function (data) {
                            return "<button class='btn btn-danger js-delete' data-stay-id=" + data + ">Izbriši</button>";
                            
                        }
                    }

                ]
            });

            $("#stays").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Da li ste sigurni da zelite da izbrisete oglas?", function (result) {
                    if (result) {
                        $.ajax({
                           url: "/api/stays/" + button.attr("data-stay-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });  
            });
        });
    </script>
}