@model BookingApp.Models.Booking

@{
    ViewBag.Title = "Edit";
}

<h2>Rezervacija</h2>

@using (Html.BeginForm("Edit", "Bookings"))
{
    
 <hr />
    <div class="form-group">
        @Html.Label("Korisnik")
        @Html.DropDownList("ConsumerId", null, new { @class = "form-control" })
        @Html.ValidationMessageFor(b => b.ConsumerId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.Label("Smestaj")
        @Html.DropDownList("StayId", null, new { @class = "form-control" })
        @Html.ValidationMessageFor(b => b.StayId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(b => b.CheckIn)
        @Html.TextBoxFor(b => b.CheckIn,"{0:d MMM yyyy}",new { @class = "form-control"})
        @Html.ValidationMessageFor(model => model.CheckIn, "", new { @class = "text-danger"})
    </div>

    <div class="form-group">
        @Html.LabelFor(b => b.CheckOut)
        @Html.TextBoxFor(b => b.CheckOut, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CheckOut, "", new { @class = "text-danger"})
    </div>
    @Html.HiddenFor(b => b.ConsumerId)
    @Html.HiddenFor(b => b.StayId)
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3">
            <div class="form-actions no-color">
                <input type="submit" value="Sačuvaj" class="btn btn-primary" />
            </div>
        </div>

        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3">
            <div class="form-actions no-color">
                @Html.ActionLink("Odustani", "Index", "Bookings", new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
}
