@model BookingApp.Models.Country
@{
    ViewBag.Title = "CreateCountry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Država</h2>

@using (Html.BeginForm("CreateCountry", "Countries"))
{
    @Html.AntiForgeryToken()

    <div class=" form-group">
        @Html.LabelFor(p => p.CountryName)
        @Html.TextBoxFor(p => p.CountryName, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.CountryName, "", new { @class = "text-danger" })
    </div>

    @Html.HiddenFor(p => p.Id)

    <div class="row">
        <div class="col-lg-1">
            <div class="form-actions no-color">
                <button type="submit" class="btn btn-primary">Sačuvaj</button>
            </div>
        </div>

        <div class="col-lg-2">
            <div class="form-actions no-color">
                @Html.ActionLink("Odustani", "Index", "Cities", new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}